<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">“宇汉”专注于为中国企业转型、变革、成长中的组织／团队能力建设提供解决方案，并携手实施，聚焦领导力／执行力挑战（leadership）；组织能力提升（organization）；人才发展与管理（talent management）； “企业大学”（corporate university & learning infrastructure）
                </p>
                <p class="text-faded">“宇汉”专家团队聚集了一批国内外知名企业的实践者，他们在金融、银行、医疗、互联技术领域积累了大量丰富实践经验与案例，通过提升组织能力的增强，团队协同机制的优化，从而帮助客户企业实现战略转型与业绩提升</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
