<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">“宇汉”专注于为中国企业转型、变革、成长中的组织／团队能力建设提供解决方案，<br/>
                并携手实施，聚焦领导力／执行力挑战（leadership）<br/>
                组织能力提升（organization）<br/>
                人才发展与管理（talent management）<br/>
                “企业大学”（corporate university & learning infrastructure）<br/>
                轻学习技术解决方案（Light learning technology solution）
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
