<section id="members">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">我们的团队成员</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="/hkjiang.html" class="image avatar"><img src="images/hkjiang.jpg"/></a>
                    <h6>姜宏宽</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="/yangzhongwei.html" class="image avatar"><img src="images/yangzhongwei.jpg"/></a>
                    <h6>杨忠伟</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="#" class="image avatar"><img src="images/lijunkang.jpg"/></a>
                    <h6>黎俊康</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="#" class="image avatar"><img src="images/chenqing.jpg"/></a>
                    <h6>陈青</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="#" class="image avatar"><img src="images/liyong.jpg"/></a>
                    <h6>李勇</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="/chenjin.html" class="image avatar"><img src="images/chenjin.jpg"/></a>
                    <h6>陈劲</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="/zhangcg.html" class="image avatar"><img src="images/zhangcg.jpg"/></a>
                    <h6>张长弓</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="#" class="image avatar"><img src="images/pengshujun.jpg"/></a>
                    <h6>彭淑军</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="#" class="image avatar"><img src="images/nic.jpg"/></a>
                    <h6>尼克</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="#" class="image avatar"><img src="images/shuijinbo.jpg"/></a>
                    <h6>隋金波</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="#" class="image avatar"><img src="images/yangshengrong.jpg"/></a>
                    <h6>杨升荣</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="#" class="image avatar"><img src="images/huangjinghao.jpg"/></a>
                    <h6>黄景灏</h6>
                </div>
            </div>
        </div>
    </div>
</section>
